body,
body::before,
body::after {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0%;
  padding: 0%;
}

.mainheader {
    text-align: center;
    margin-bottom: 30px;
    border-bottom-width: 4px;
    border-bottom-color: black
    border-style: solid;
	 display: flex;
}
 .mainheader_logo{
   text-align: left;
	 /*height: 100px;
	 width: 100px;*/
 }

.mainheader_text {
	width: 80%;
    padding-right: 5px;
    text-align: right;
}

.featured_projects {
    margin: 20px 0;
    text-align: center;

}

.featured_work {
  margin-top: 30px;
  max-width: 100%;

}

.mainheader_name {
  text-align: right;
}

.mainheader_job {
text-align: right;

}

/*Images*/


header .udacitylogo {
  width: 100%;
  max-width: 100px;
  overflow: hidden;

}

.responsive_img {
  height: auto;
  width: 100%;
}

.featurework_content{
	display: flex;
	flex-wrap: wrap;
}

.featured_projects{
	width: 30%;
	padding: 1em;
	margin: auto;
	text-align: center;
}
